{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="#" class="navbar-brand ms-3 fs-3">logo</a>

    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-target">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"  id="nav-target">
        <ul class="navbar-nav ms-auto ">
            <li class="nav-item"><a href="#" class="nav-link mx-3">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link mx-3">Registro</a></li>
        </ul>
    </div>
</nav>